body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

nav {
    padding-left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
    padding: 10px;
}

nav a:hover {
    color: #00bcd4;
}

/* Hide nav links by default on mobile */
.nav-links {
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
}

.hamburger-menu {
    display: flex;
    flex-direction: row-reverse;
    display: none;
    cursor: pointer;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('images/webdesign.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(0, 0, 0);
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    padding: 2%;
    background-color: #fff;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.marquee {
    width: 100%;
    overflow: hidden;
    background-color: #222;
    color: #fff;
    padding: 10px 0;
}

.marquee p {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.content {
    padding: 50px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.content h2 {
    font-size: 2rem;
    width: 30%;
    color: black;
    background-color: #fff;
    margin-left: 30%;
    margin-bottom: 10%;
}

.content p {
    width: 50%;
    color: black;
    background-color: #fff;
    margin-left: 20%;
}

#products {
    background-image: url('images/products.png');
}

#services {
    background-image: url('images/services.png');
}

#solutions {
    background-image: url('images/solution.png');
}

#support {
    background-image: url('images/support.png');
}

#contact {
    background-image: url('images/contact-us.png');
}

.contactform{
    background-color: #fff;
    width: 30%;
    margin-left: 30%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        /* Hide the links on mobile */
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        text-align: center;
    }

    .nav-links a {
        padding: 15px;
        width: 100%;
    }

    .hamburger-menu {
        display: block;
        font-size: 1.5rem;
        color: white;
    }

    .nav-links.active {
        display: flex;
        /* Show the menu when active */
    }
}